@pointColor : #D70000;

body {
	background-color: black;
	margin : 0px;
	padding : 0px;
	overflow:hidden;
}

.center-align{
	text-align : center;
}

time, h1{
	color : white;
	opacity : 0
}

time{
	font-size : 13px;
	position : absolute;
}

.unos_table{
	width : 95%;
	color: white;
	font-size: 15px;
	opacity:0;
}

.unos_table td{
	padding : 15px;
}

.unos_table tr:nth-child(odd){
	background-color: #222222;
}

.unos_table tr:nth-child(2n){
	background-color: #323232;
}


.table_title{
	background-color : #545253;
	font-size: 18px;
	color : white;
	font-weight: bolder;
	width : 100px;
}

.unos_input{
	height: 20px;
	background-color : rgba(0,0,0,0);
	border : 0px;
	border-bottom: 2px solid white;
	color : white;
}

.unos_input:FOCUS {
	border : 0px;
	outline : 0px;
	border-bottom: 2px solid @pointColor;
	transition: all 0.5s ease-in-out;
}

.unos_btn{
	background-color: @pointColor;
	color : white;
	outline: none;
	height: 30px;
	border: none;
	cursor: pointer;	
}

.unos_btn:ACTIVE {
	opacity: 0.7;
}



.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown > span,
.cd-dropdown ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	color: #e66b20;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #e66b20;
	color: #fff;
}

/*select*/

.unos_select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.unos_select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.unos_select select {
	display: none;
}

.unos_select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Placeholder and selected option */
.unos_select > span {
	padding-right: 3em;
}

.unos_select > span::after,
.unos_select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.unos_select > span::after {
	content: '\25BE';
	right: 1em;
}

.unos_select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.unos_select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

.cs-active {
	z-index: 200;
}

/* Options */
.unos_select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.unos_select.cs-active .cs-options {
	visibility: visible;
}

.unos_select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.unos_select ul span {
	padding: 1em;
}

.unos_select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.unos_select li.cs-optgroup ul {
	padding-left: 1em;
}

.unos_select li.cs-optgroup > span {
	cursor: default;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
		url('fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
		url('fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.unos_select {
	background: transparent;
	/* font-size: 1.8em; */
	font-size:15px;
	max-width: 200px;
}

@media screen and (max-width: 30em) {
	unos_select { font-size: 1.2em; }
}

.unos_select > span {
	padding: 0.5em 3em 0.5em 0.5em;
	border-bottom: 2px solid #000;
	border-color: @pointColor;
	font-weight: bold;
}

.unos_select > span::after {
	font-family: 'icomoon';
	content: '\e003';
	color : @pointColor;
	right: 0.25em;
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,45deg);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.unos_select.cs-active > span::after {
	-webkit-transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
	transform: translate3d(0,-50%,0) rotate3d(0,0,1,270deg);
}

.unos_select .cs-options {
	background: #292929;
	color : #ffffff;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
	transition: opacity 0.3s 0.4s, visibility 0s 0.7s;
}

.unos_select.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.unos_select ul span {
	position: relative;
	/* text-transform: uppercase; */
	font-size: 66%;
	font-weight: 700;
	letter-spacing: 1px;
	/* padding: 1.2em 0.8em; */
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.unos_select ul span::after {
	content: '';
	opacity: 0;
}

.unos_select .cs-selected span::after {
	font-family: 'icomoon';
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.7s;
	transition: opacity 0.3s 0.7s;
}

.unos_select ul span::before {
	content: '';
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #000000;
	-webkit-transform: translate3d(200%,0,0);
	transform: translate3d(200%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.unos_select.cs-active ul span,
.unos_select.cs-active ul span::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.unos_select li:nth-child(5) span,
.unos_select li:nth-child(5) span::before,
.unos_select.cs-active li:first-child span,
.unos_select.cs-active li:first-child span::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.unos_select li:nth-child(4) span,
.unos_select li:nth-child(4) span::before,
.unos_select.cs-active li:nth-child(2) span,
.unos_select.cs-active li:nth-child(2) span::before {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.unos_select li:nth-child(3) span,
.unos_select li:nth-child(3) span::before {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.unos_select li:nth-child(2) span,
.unos_select li:nth-child(2) span::before,
.unos_select.cs-active li:nth-child(4) span,
.unos_select.cs-active li:nth-child(4) span::before {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.unos_select li:first-child span,
.unos_select li:first-child span::before,
.unos_select.cs-active li:nth-child(5) span,
.unos_select.cs-active li:nth-child(5) span::before {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
} /* more items require more delay declarations */

.unos_select .cs-options li span:hover,
.unos_select .cs-options li.cs-focus span,
.unos_select li.cs-selected span {
	color: #ffffff;
	background: @pointColor;
}

/*range slider*/
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: @pointColor;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/* panel */

#panel div{
	text-decoration : underline;
}

#panel div:HOVER{
	color : @pointColor;
}

.menu{
	color : white;
	text-decoration : underline;
	cursor : pointer;
}

.menu:HOVER{
	color : @pointColor;
}

#menu_box{
	border-style: solid;
	border-color : @pointColor;
	background : rgba(41,41,41,0),
}

.line{
	border-style: solid;
	border-color : @pointColor;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control_indicator {
	border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: white;
}

/* Checked state */
.control input:checked ~ .control_indicator {
	background: @pointColor;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	/*background: #0e647d;*/
}

/* Disabled state */
.control input:disabled ~ .control_indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control_indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control_indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control_indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control_indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control_indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control_indicator:after {
	background: #7b7b7b;
}