@CHARSET "UTF-8";

@font-face
{
	font-family: NotoSansCJKkrDemiLight; 
	src : url(../fonts/NotoSansCJKkr-DemiLight.otf);
}

@font-face
{
	font-family: NotoSansCJKkrBold; 
	src : url(../fonts/NotoSansCJKkr-Bold.otf);
}

@font-face
{
	font-family: NotoSansCJKkrBold; 
	src : url(../fonts/NotoSansCJKkr-Bold.otf);
}